@media (max-width: 767px) {
    .text-bw{
      display: none;
    }
    .parallax-elements{
        display: none;
    }
      #carousel{
        display: none;
    }
    .information{
        display: none;
    }
    .contains{
        display: none;
    }
    #slide-1 video{
        display: none;
    }
    body{
        height:fit-content!important;
    }

    .some-products #some-row-4{
        display: none!important;
    }

    .button-flavors ul{
        list-style-type: none!important;
        z-index: 7!important;
        position: absolute!important;
        left: 63%!important;
        width: 32%!important;
        margin-top: 21%!important;
    }

    .Section-05{
        height: 50%!important;
    }

    .Section-05 .row{
        padding-top: 13%!important;
        display: block;
    }

    .Section-05 .product-choco-t80 {
        width: 69%!important;
        z-index: 4!important;
        top: 0%!important;
        position: absolute!important;
        left: 16%!important;
        margin-top: 2%!important;
    }
    
    .firstsection .description-of-product h1{
        font-size: x-large!important;
    }

    .firstsection .description-of-product h2{
        font-size: large!important;
    }

    .firstsection .description-of-product h5{
        font-size: large!important;
    }

    .firstsection .description-of-product p{
        font-size: 10px!important;
    }

    .firstsection .description-of-product input{
        margin-left: 2%!important;
        position: absolute!important;
        left: 111%!important;
        top: 77%!important;
    }

    .firstsection .description-of-product button{
        margin-left: 2%!important;
        position: absolute!important;
        left: 146%!important;
        margin-top: 31%!important;
        top: 64%!important;
    }

    .firstsection .description-of-product .related-text{
        margin-left: 2%!important;
        position: absolute!important;
        left: 108%!important;
        top: 88%!important;
        width: 94%!important;
    }

    .model3d {
        width: 54%!important;
        height: 56%!important;
        left: 50%!important;
    }

    .tabsnavs{
        position: relative!important;
        background: #f5f5f5!important;
        top: 100px!important;
    }

    .nav-justified .nav-item {
        width: 10%!important;
    }

    .firstsection ul .nav-link{
        font-size: 1rem!important;
        padding: 0!important;
        padding-top: 18px!important;
        padding-left: 2%!important;
        padding-bottom: 12%!important;
    }

    .firstsection .tab-content .tab-pane p {
        font-size: 1rem!important;
    }

    .some-products{
        position: relative!important;
        top: 173px!important;
    }

    .card{
        width: 31rem!important;
    }
}

@media (min-width: 767px) {
    .aftervideo{
        display: none;
    }

    .mobile-view-visible{
        display: none;
    }
}


@media (max-width: 667px) {
    .button-flavors ul{
        margin-top: 26%!important;
    }

    .Section-05{
        height: 40%!important;
    }

    .firstsection .description-of-product{
        width: 57%!important;
    }

    .firstsection .description-of-product h1{
        font-size: large!important;
    }

    .firstsection .description-of-product h5 {
        font-size: small!important;
    }

    .firstsection .description-of-product input {
        top: 80%!important;
        font-size: 17px!important;
    }

    .firstsection .description-of-product button {
        top: 71%!important;
        left: 132%!important;
        font-size: 17px!important;
    }

    .firstsection .description-of-product .related-text {
        top: 88%!important;
        width: 78%!important;
    }

    .model3d{
        width: 59%!important;
    }

    .tabsnavs{
        top: 272px!important;
    }

    .firstsection ul .nav-link {
        font-size: 12px!important;
    }

    .firstsection .tab-content .tab-pane p{
        font-size: 10px!important;
    }

    .card-deck {
        display: flex!important;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
    }

    .card-img-top {
        position: relative!important;
        top: 2rem!important;
        left: -2rem!important;
    }

    .card-body {
        padding-top: 5rem!important;
    }

    .card-title {
        font-size: 10px!important;
    }

    .card-body h5{
        font-size: 12px!important;
    }
}

@font-face{
    font-family:Handwritten;
    src: url(../fonts/handwritten.ttf);
}

@font-face{
    font-family:Asap-Condensed;
    src: url(../fonts/AsapCondensed-Regular.ttf);
}

body{
    overflow: scroll!important;
}

#model {
    --progress-bar-color: none;
    background-color: transparent;
}

header #navNav{
    position: fixed!important;
    z-index: 10!important;
    width: 100%!important;
    background: white;
}

a:hover, a:active{
    text-decoration: none;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#product-iden .row .col h1{
    padding-top: 0%!important;
}

.navbar{
    border-radius: 0px;
    box-shadow: #8080809c 2px 5px 10px;
}

#slide-1 .information h1{
    padding-top: 3%!important;
    font-family: Asap-Condensed !important;
    font-weight: 800 !important;
    line-height: 1.2 !important;
    font-size: 3.5rem !important;
}

#slide-1 .information .row{
    padding: 8%;
    padding-top: 3%;
}

#slide-1 .information .row .col{
    max-width: 50%!important;
}

#slide-1 .information .row .col .card{
    width: 100%!important;
}

#slide-1 .information .row .col .card .card-body h2{
    font-family: Asap-Condensed !important;
    text-align:start; 
    font-weight: bold;

}

#slide-1 .information .row .col .card .card-body .card-text{
    font-size: 18px;
    font-family: Asap-Condensed !important;
}
/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #e9d7d7;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 100%;
    text-align: center
}

#slide-2 {
    width: 100%;
    position: fixed;
}

#bg-mount{
    width: 104%;
    position: relative;
}

#slide-1 .text-bw{
    top: 117%;
    width: 100%;
    z-index: 1;
    position: relative;
    text-align: center;
    background: white;
}

#slide-1 .text-bw h1{
    font-family: 'Asap-Condensed'!important;
    font-weight: 800!important;
    line-height: 1.2!important;
    font-size: 3.5rem!important;
}

.slick-slider {
    width: 100%;
    height: 1000px;
    left: 23%;
    top: 0%;
    background-image: url(../IMG/carousel/bg1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.slick-slider .slick-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 875px;
    justify-content: center;
}

.slick-slider .slick-slide{
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px;
    background-color: transparent;
    transition: all 0.3s ease;
    height: 100%;
    text-align: center;
}

.slick-slider .slick-slide.slick-current,
.slick-slider .slick-slide.slick-center {
      background:transparent;
      width: 120%;
      top: 16px;
      position: relative;
      transform: scale(1.3);
      height: 100%;

}


.slick-prev {
  left: 55px!important;
  top: 547px;
  width: 29px!important;
  height: 47px!important;
  z-index: 10;
  color: black;
  border-radius: 7%;
  background-image: url(../IMG/carousel/left.png)!important;
  background-size: 23px!important;
  background-repeat: no-repeat!important;
  opacity: 0.5;
}

.slick-next {
  width: 29px!important;
  height: 47px!important;
  z-index: 10;
  top: 547px;
  color: black;
  border-radius: 7%;
  background-image: url(../IMG/carousel/right.png)!important;
  background-size: 23px!important;
  background-repeat: no-repeat!important;
  opacity: 0.5;
  right: 54px!important;
}

.slick-slider .slick-track{
  height: 100%;
}

.slick-slider .slick-list {
  height: 93%;
  top: 92px;
}

.slick-slide img {
    width: 1281px;
    height: 685px;
    top: 100px;
    position: relative;
    left: -357px;
}

.slick-dots{
    bottom: 10%!important;
}

.slick-next:before{
    content: none!important;
    background-image: url(../IMG/carousel/right.png)!important;
    background-size: 29px!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
}

.slick-prev:before{
    content: none!important;
    background-image: url(../IMG/carousel/right.png)!important;
    background-size: 29px!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
}

.slick-next:active, .slick-prev:active {
    opacity: 0.5;
}

.slick-dots li.slick-active button:before {
    opacity: 1!important;
    color: #b29e7d!important;
}

.slick-dots li button:before {
    font-size: 24px!important;
    color: #edd794!important;
}

.slick-prev:hover{
    color: transparent;
    background: transparent;
    background-image: url(../IMG/carousel/left.png)!important;
    background-size: 23px!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
} 

.slick-next:hover {
    color: transparent;
    background: transparent;
    background-image: url(../IMG/carousel/right.png)!important;
    background-size: 23px!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
}

.slick-prev:focus{
    color: transparent;
    background: transparent;
    background-image: url(../IMG/carousel/left.png)!important;
    background-size: 23px!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
}

.slick-next:focus{
    color: transparent;
    background: transparent;
    background-image: url(../IMG/carousel/right.png)!important;
    background-size: 23px!important;
    background-repeat: no-repeat!important;
    opacity: 1!important;
}

#carousel{
    position: relative;
    left: -24%;
    width: 1920px;
}

.row{
    padding: 14%;
    padding-top: 3%;
}

.row .col{
    max-width: 25%;
}

.card{
    border: none;
    margin: 0;
    width: 19rem;
}

.card-text{
    text-align: justify;
    font-size: 14px;
}

.card-body{
    padding: 0;
    padding-top: 1rem;
}

#certifications{
    position: relative;
    width: 100%;
    padding-left: 18%;
    background: transparent;
    left: 0%;
    padding-bottom: 186px;
    height: 10%;
    margin: 0;
    bottom: 41%;
}

#certifications .col{
    margin: 0;
    height: auto;
    padding: 0;
}

#certifications .col img{ 
    width: 60%;
}

.product-identification{
    position: relative;
    bottom: 137%;
    background: white;
    width: 100%;
}

.product-identification .row{
    padding-top: 0%!important;
}

.product-identification .row .col{
    max-width: 100%;
}


.product-identification .row .col img{ 
    width: 75%;
    margin-left: 0%;
}

.product-identification .row .col .card {
    width: 43rem!important;
}

.product-identification .row .col .card .card-body{
    border: 1px solid #8080805c;
    margin-top: 1rem;
    padding: 15px;
    padding-top: 1rem;
}

.product-identification .row .col .card .card-body h1{
    padding-top: 0%!important;
}

.product-identification .heading{
    text-align: center;
    padding: 4%;
    font-weight: bolder;
    padding-bottom: 2%;
    padding-top: 4%;
}

/*  CONTACT US */

.contact-form{
    background: #fff;
    height: 17%;
    bottom: -4%;
    margin-top: 0%;
    position: relative;
    margin-bottom: 7%;
    width: 43%;
    box-shadow: 0px 0px 6px #00000057;
    z-index: 5;
    transform: scale(1.33);
}

.contains .explore{
    text-align: center;
    padding: 5px;
    color: black;
    border-radius: 7px;
    border: 1px solid black;
    width: fit-content;
    font-size: x-large;
    margin-bottom: 3%;
    text-transform: uppercase;
    position: relative;
    left: 45%;
    font-family: 'Asap-Condensed';
}

.contains .explore:hover, .contains .explore:active{
    color:white;
    background-color: black;
    text-decoration: none;
}

.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -5%;
    background: white;
    opacity: 1;
}
.contact-form form{
    padding-top: 4%;
    padding: 7%;
}

.contact-form form h5{
    font-size: 3.25rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Asap-Condensed;
}

.contact-form input, .contact-form textarea{
    font-family: Asap-Condensed;
    font-size: 15px;
}

.contact-form form .row{
    margin-bottom: -7%;
    padding: 3% 4% 4%;
}

.contact-form h3{
    margin-bottom: 3%;
    margin-top: -5%;
    text-align: center;
    text-transform: uppercase;
    color: grey;
    font-weight: bold;
    font-size: xx-large;
}
.contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 4.5%;
    background: black;
    text-transform: uppercase;
    box-shadow: 0px 0px 6px #6c757d;
    font-weight: 400;
    color: #fff;
    font-size: small;
    cursor: pointer;
}

.contains{
    z-index: 1;
    position: relative;
    background: white;
    top: 95%;
    height: 25%;
    padding-top: 5%;
    width: 100%;
}

.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.container[data-aos^=zoom][data-aos^=zoom].aos-animate {
    opacity: 1;
    transform: translateZ(0) scale(1.33);
} 

[data-aos="my-animation"] {
    transform: rotate(360deg) scale(0.5);
    opacity: 0;
    transition-property: transform, opacity;
  }
    
  [data-aos="my-animation"].aos-animate {
    transform: rotate(0) scale(1);
    opacity: 1;
}

/* 3 D Model*/
.model3d{
    width: 40%;
    height: 47%;
    left: 55%;
    position: relative;
    transform: scale(0.9);
    animation-name: move;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.firstsection{
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.firstsection .description-of-product {
    width: 50%;
    position: absolute;
    margin-top: 0%;
    font-family: 'Asap-Condensed';
    padding-top: 5%;
    padding-left: 5%;
    font-weight: bold;
}

.firstsection .description-of-product h1{
    width: 100%;
    font-weight: 600;
}

.firstsection .description-of-product h2{
    color: grey;
    font-weight: bold;
}

.firstsection .description-of-product h5{
    font-family: 'Asap-Condensed';

}


.firstsection .description-of-product p{
    font-weight: 500;
    text-align: justify;
    color: #666;
}

.firstsection .description-of-product .related-text{
    margin-top: 6%;
    border-top: 1px solid grey;
    text-align: justify;
    padding-right: 15%;
}

.firstsection .description-of-product input{
    padding: 1%;
    margin-top: 5%;
    font-family: 'Asap-Condensed';
    text-align: center;
    font-size: 26px;
    border: none;
    background-color: #f8f9fa;
}

.firstsection .description-of-product button{
    margin-left: 3%;
    border: 0.5px solid grey;
    padding: 1%;
    margin-top: -1%;
    font-family: 'Asap-Condensed';
    background-color: white!important;
    font-size: 24px;
    font-weight: 400;
}

.firstsection .description-of-product button:hover{
    background-color: #f8f9fa!important;

}

.firstsection  .nav{
    margin-top: 7%;
} 

.firstsection  ul .nav-link{
    font-family: 'Asap-Condensed';
    font-size: 1.5rem;
    font-weight: 700;
    background: #d6d6d6;
}

.firstsection .nav-tabs .nav-link.active{
    color: #191a1b;
    border:none;
    background:  #f5f5f5;
}

.firstsection .tab-content .tab-pane p{
    font-size: 1.2rem;
    margin-top: 3%;
    padding-bottom:3%;
}

.firstsection .tab-content{
    margin-left: 2%;
}

.firstsection .some-products h1 {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 3%;
    font-family: 'Asap-Condensed';
    font-weight: 700;
}

.firstsection .some-products .row{
    padding: 0!important;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 1%;
    pointer-events: none;
}

.video video{
    width: 100%;
}

#player {
    z-index: 2;
    position: fixed;
    top: 7%;
    width: 108%;
}

.text-round{
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 100%;
}

.text-round h3{
    font-family: Handwritten;
    font-size: xxx-large;
    color: #504444;
    text-align: center;
}

.text-round .arrow1{
    position: absolute;
    left: 47%;
    font-size: 109px;
    color: black;
    z-index: 11;
}

.text1 { opacity: 0; }

div.circTxt {
    /*allows for centering*/
    display: inline-block;
    /*adjust as needed*/
    margin-bottom: 128px;
    color: rgb(14, 13, 13);
}

.navbar-light .navbar-nav .nav-link, .navbar-brand{
    font-size: x-large;
    color: black!important;
    font-family: Asap-Condensed;
    padding-right: 26px;
    text-transform: uppercase;
}

.navbar-brand img{
    width: 100%;
}

.navbar-brand {
    position: relative;
    left: 5%;
    width: 13%;
}

.Section-05{
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: white;
}

.Section-05 .row{
    padding: 0;
}

.Section-05 #choco-row{
    background-size: cover;
    background-image: url(../IMG/flavors/bg/choco/choco.jpg);
    height: 100%;
    width: 102%;
}

.Section-05 .choco-top-left{
    width: 24.2%;
    height: auto;
    position: absolute;
    top: 6%;
    left: 0%;
    z-index: 3;
}

.Section-05 .choco-left{
    z-index: 2;
    position: absolute;
    margin-top: -4%;
    left: 0%;
    width: 32%;
}

.Section-05 .product-choco-t80{
    width: 50%;
    z-index: 4;
    top: 0%;
    position: absolute;
    left: 26%;
}

.Section-05 .choco-top-right{
    position: absolute;
    right: 1%;
    z-index: 5;
    width: 27%;
}

.Section-05 .choco-right{
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 6;
    width: 23%;
}

.Section-05 .row #choco-flavor {
    height: 120.9px;
    width: 170px;
    top: -20%;
    text-decoration: none;
    display: block;
    position: relative;
}

.Section-05 .strawberry-flavor{
    position: absolute;
    top: 73%;
}

.Section-05 .row #img-choco-flavor{
    width: 70%!important;
    position: relative;
    top: -29%;
}

.Section-05 .row #img-strawberry-flavor {
    position: relative;
    top: -29%;
    width: 20%!important;
}

.Section-05 .strawberry-bottom-left {
    z-index: 2;
    position: relative;
    width: 32%;
    top: 27%;
    z-index: 2;
    position: absolute;
    left: 0%;
    top: 67%;
    width: 32%;
}

.Section-05 .strawberry-middle-left{
    z-index: 2;
    position: absolute;
    left: 7%;
    top: 33%;
    width: 32%;
}


.Section-05 .top-right-corner {
    position: absolute;
    right: 1%;
    top: 4%;
    z-index: 5;
    width: 27%;
}

.Section-05 .middle-right-corner {
    position: absolute;
    right: 7%;
    top: 45%;
    z-index: 6;
    width: 23%;
}

.Section-05 .bottom-right-corner {
    position: relative;
    z-index: 6;
    width: 23%;
    left: 77%;
    margin-top: 39.4%;
}

.Section-05 .row #choco-flavor .chocolate-active-hover{
    border: 1px solid #865842;
    border-radius: 20px;
    color: white;
    text-align: center;
    background-color: #865842;
    top: -99%;
    position: relative;
    z-index: -1;
    left: -54%;
    display: block;
}

.Section-05 .row #strawberry-flavor .strawberry-active-hover{
    border: 1px solid #ee919c;
    border-radius: 20px;
    color: white;
    text-align: center;
    background-color: #ee919c;
    top: 30.7%;
    position: absolute;
    z-index: -1;
    left: -11%;
    display: block;
    width:29%;
}

.Section-05 .strawberry-top-left {
    width: 24.2%;
    height: auto;
    position: absolute;
    top: 12%;
    left: 0%;
    z-index: 3;
}

.Section-05 #strawberry-row{
    background-size: cover;
    background-image: url(../IMG/flavors/bg/strawberry/1.jpg);
    height: 100%;
    width: 102%;
    position: relative;
    display: none;
    top:0%;
}

.Section-05 #cookie-row{
    background-size: cover;
    background-image: url(../IMG/flavors/bg/oreo/bg.png);
    height: 100%;
    width: 102%;
    position: relative;
    display: none;
}

.Section-05 #coffee-row{
    background-size: cover;
    background-image: url(../IMG/flavors/bg/coffee/bg.png);
    height: 100%;
    width: 102%;
    position: relative;
    display: none;
}

.Section-05 #vanilla-row{
    background-size: cover;
    background-image: url(../IMG/flavors/bg/vanilla/vanilla.jpg);
    height: 100%;
    width: 102%;
    position: relative;
    display: none;
}

.Section-05 .cookie-top-left {
    width: 24.2%;
    height: auto;
    position: relative;
    z-index: 3;
}

.Section-05 .cookie-middle-left-1 {
    width: 21%;
    z-index: 1;
    position: absolute;
    top: 96%;
    left: 0%;
}

.Section-05 .cookie-middle-left-2 {
    width: 22%;
    z-index: 1;
    position: absolute;
    left: 0%;
    top: 136%;
}

.Section-05 .cookie-bottom-left {
    z-index: 10;
    width: 32%;
    position: absolute;
    top: 247%;
    left: 0%;

}

.Section-05 .top-right-cookie {
    position: absolute;
    top: 20%;
    right: 0%;
    z-index: 5;
    width: 27%;
}

.Section-05 .middle-right-cookie {
    top: 162%;
    right: 8%;
    position: absolute;
    z-index: 6;
    width: 23%;
}

.Section-05 .bottom-right-cookie {
    z-index: 6;
    width: 15%;
    top: 304%;
    right: 1%;
    position: absolute;
}

.Section-05 .row #cookie-flavor .cookie-active-hover{
    border: 1px solid #9c756900;
    border-radius: 20px;
    color: white;
    text-align: center;
    top: 47.5%;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(to right, #9c7569, #e6c5b4);
    left: -11%;
    display: block;
    width: 29%;
}

.Section-05 .coffee-top-left {
    height: auto;
    width: 52%;
    z-index: 3;
    position: absolute;
    left: 0%;
    top: 2%;
}

.Section-05 .coffee-middle-left {
    margin-top: 3%;
    left: 6%;
    position: absolute;
    z-index: 1;
    width: 80%;
}

.Section-05 .top-right-coffee {
    z-index: 5;
    width: 27%;
    position: absolute;
    margin-top: 3%;
    right: 0%;
}

.Section-05 .middle-right-coffee {
    position: absolute;
    margin-top: 22%;
    right: 3%;
    z-index: 6;
    width: 23%;
}

.Section-05 .bottom-right-coffee {
    position: absolute;
    margin-top: 34%;
    right: 1%;
    z-index: 6;
    opacity: 1;
    width: 35%;
}

.Section-05 .row #coffee-flavor .coffee-active-hover{
    border: 1px solid #906e3f;
    border-radius: 20px;
    color: white;
    text-align: center;
    top: 68.5%;
    position: absolute;
    z-index: -1;
    background-color: #906e3f;
    left: -11%;
    display: block;
    width: 29%;
}

.Section-05 .row #vanilla-flavor .vanilla-active-hover{
    border: 1px solid #f1d39c;
    border-radius: 20px;
    color: white;
    text-align: center;
    top: 89.5%;
    position: absolute;
    z-index: -1;
    background-color: #f1d39c;
    left: -11%;
    display: block;
    width: 29%;
}

.Section-05 .vanilla-top-left {
    height: auto;
    position: relative;
    z-index: 3;
    width: 29%;
    left: 2%;
}

.Section-05 .vanilla-middle-left-1 {
    left: 0%;
    position: absolute;
    top: 90%;
    width: 52%;
    z-index: 4;
}

.Section-05 .vanilla-middle-left-2 {
    z-index: 4;
    width: 24%;
    position: absolute;
    top: 130%;
    left: 12%;
}

.Section-05 .vanilla-middle-left-3 {
    width: 20%;
    z-index: 5;
    position: absolute;
    margin-top: 40.3%;
    left: 13%;
}

.Section-05 .top-right-vanilla {
    position: absolute;
    top: 22%;
    right: 0;
    z-index: 5;
    width: 39%;
}

.Section-05 .middle-right-vanilla {
    z-index: 6;
    position: absolute;
    top: 152%;
    left: 74%;
    width: 25%;
}

.Section-05 .bottom-right-vanilla {
    z-index: 6;
    opacity: 1;
    width: 35%;
    position: absolute;
    margin-top: 33%;
    right: 0%;
}

.Section-05 #img-strawberry-glass:active ~ .Section-05 #choco-row { display: none;}

@keyframes move {
    from {bottom:-93%; opacity: 0.5;}
    to {bottom: 0%; opacity: 1;}
}

/* arrow animation */
.arrow1 {
    animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(0px, 10px);
    }
}

/* FOOTER */
footer{
    background: #000000de;
    position: relative;
    top: 73%;
    margin-top: 4rem;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    padding-bottom: 0;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    color: white;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic a i{
    font-size: 30px;
    top: 12%;
    position: relative;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    padding-top: 2%;
}
  
.footer-basic .social > a {
    font-size:69px;
    width: 40px;
    height: 40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color: white;
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    text-align:center;
    margin-bottom:0;
    padding: 1%;
    font-size: 20px;
    color: white;
    background: black;
    margin-top: 2%;
    font-family: Asap-Condensed;
}

footer .list-inline-item{
    font-family: Asap-Condensed;
}

.contains h1{
    font-size: 4rem;
    font-family: 'Asap-Condensed';
    font-weight: 600;
    text-align: center;
}

.contains .row{
    padding-bottom:0%;
    padding-left: 5%;
    padding-right: 5%;
}

.contains .row .card-deck{
    width: 100%;
}

.contains .row .card-deck .card-body h2{
    font-family: 'Asap-Condensed';
    font-weight: 300;
}

.contains .row .card-deck .card-body{
    background-color: white;
}

.contains .row .card-deck .card-body h3{
    font-family: 'Asap-Condensed';
    font-weight: 800;
}
/* Mobile view script style */

.aftervideo{
    position: relative;
    top: 0%;
    width: 100%;
}

.aftervideo .black-heading h1{
    text-align: center;
    padding: 2%;
    font-weight: 900;
    font-size: 32px;
}

.aftervideo .black-heading-02 h1{
    text-align: center;
    padding: 2%;
    font-weight: 900;
    font-size: 32px;
} 

.aftervideo .black-heading {
    position: relative;
}

.aftervideo .black-heading-02 {
    position: relative;
}


.aftervideo .textual {
    padding: 2%;
}

.aftervideo .carousel {
    position: relative;

}

.aftervideo .textual h3{
    font-family: fantasy;
}

.aftervideo .videoofproducts video{
    width: 100%;
}

.aftervideo .carousel-inner{
    width: 100%;
    height: fit-content;
    left: 0%;
    top: 0%;
    background-image: url(../IMG/carousel/bg1.jpg);
    background-size: 167%;
    background-repeat: no-repeat;
}

.aftervideo .carousel-inner .carousel-item .w-100{
    right: 31%!important;
    width: 159%!important;
    position: relative!important;
}

.aftervideo .mobile-view-video video{
    width: 100%!important;
}

.aftervideo .cards .photo01{
    width: 100%!important;
}

.aftervideo .cards .photo01 img{
    width: inherit!important;
    padding: 6%!important;
}

.aftervideo .cards .heading-01{
    text-align: center!important;
    font-weight: 900!important;
}

.aftervideo .cards .some-p-text p{
    padding: 6%!important;
    padding-top: 2%!important;
    font-size: 14px!important;
    text-align: justify!important;
    font-weight: 450!important;
}

.aftervideo .row {
    padding: 0%!important;
}

.aftervideo .row .col img {
    width: 100%!important;
}

.aftervideo .row .col{
    max-width: 33.3333%!important;
}

.aftervideo .img-identify{
    width: 100%!important;
}

.aftervideo .img-identify img{
    width: 100%!important;
    padding: 6%!important;
}

.aftervideo #s-cards {
    margin: 2%!important;
    border: 1px solid grey!important;
}

.aftervideo .card-deck {
    display: -webkit-box!important;
    -webkit-box-orient: horizontal!important;
}

.aftervideo .all-products .rows-over-here .row{
    width: 100%!important;
}

.aftervideo .all-products .rows-over-here .row .card-deck .card .card-img-top{
    position: relative!important;
    right: 24%!important;
    width: 151%!important;
}

.aftervideo .all-products .rows-over-here .row .card-deck .card {
    width: 50%!important;
    left: 3%!important;
}

.aftervideo .all-products .rows-over-here .row .card-deck .card .card-body{
    left: 8%!important;
    position: relative!important;
}

.aftervideo .all-products .rows-over-here .row .card-deck .card .card-body h3, 
.aftervideo .all-products .rows-over-here .row .card-deck .card .card-body h4{
    width: 80%!important;
    text-align: center!important;
}

.aftervideo .all-products h1{
    text-align: center!important;
    font-size: xxx-large!important;
    font-weight: 700!important;
    padding-bottom: 6%!important;
}

.aftervideo .all-products .heads h1{
    font-size: 27px!important;
}

.aftervideo .all-products .certies img{
    width: 100%;
}

.aftervideo .contain{
    padding: 5%;
}

.aftervideo .contain form{
    border: 1px solid #80808075;
    padding: 4%;
    border-radius: 13px;
}

.aftervideo .contain form h5{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 4%;
}